.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mb-4,
.table-responsive {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.table th,
.table td {
  text-align: center;
}

@media (max-width: 768px) {
  .table {
    font-size: 0.9rem;
  }
}
